NetSpell/*.log
NetSpell/build
NetSpell/demo/Demo.TextEditor/*.suo
NetSpell/demo/Demo.TextEditor/*.user
NetSpell/demo/Demo.TextEditor/bin
NetSpell/demo/Demo.TextEditor/obj
NetSpell/demo/Demo.WinForm.CSharp/*.suo
NetSpell/demo/Demo.WinForm.CSharp/*.user
NetSpell/demo/Demo.WinForm.CSharp/bin
NetSpell/demo/Demo.WinForm.CSharp/obj
NetSpell/demo/Demo.WinForm.VBnet/*.suo
NetSpell/demo/Demo.WinForm.VBnet/*.user
NetSpell/demo/Demo.WinForm.VBnet/bin
NetSpell/demo/Demo.WinForm.VBnet/obj
NetSpell/exp/*.log
NetSpell/exp/*.suo
NetSpell/exp/TestApplication/*.user
NetSpell/exp/TestApplication/bin
NetSpell/exp/TestApplication/obj
NetSpell/exp/TestExtender/*.user
NetSpell/exp/TestExtender/bin
NetSpell/exp/TestExtender/obj
NetSpell/exp/bin
NetSpell/exp/build
NetSpell/src/*.log
NetSpell/src/*.suo
NetSpell/src/NetSpell.DictionaryBuild/*.user
NetSpell/src/NetSpell.DictionaryBuild/bin
NetSpell/src/NetSpell.DictionaryBuild/obj
NetSpell/src/NetSpell.Setup/*.suo
NetSpell/src/NetSpell.Setup/*.user
NetSpell/src/NetSpell.Setup/Debug
NetSpell/src/NetSpell.Setup/InstallerActions/*.suo
NetSpell/src/NetSpell.Setup/InstallerActions/*.user
NetSpell/src/NetSpell.Setup/InstallerActions/bin
NetSpell/src/NetSpell.Setup/InstallerActions/obj
NetSpell/src/NetSpell.Setup/Release
NetSpell/src/NetSpell.SpellChecker/*.user
NetSpell/src/NetSpell.SpellChecker/bin
NetSpell/src/NetSpell.SpellChecker/obj
NetSpell/src/NetSpell.Tests/*.user
NetSpell/src/NetSpell.Tests/bin
NetSpell/src/NetSpell.Tests/obj
NetSpell/src/NetSpell.WinForm.Test/*.suo
NetSpell/src/NetSpell.WinForm.Test/*.user
NetSpell/src/NetSpell.WinForm.Test/bin
NetSpell/src/NetSpell.WinForm.Test/obj
NetSpell/src/bin
NetSpell/src/build
TraySpell/src/NetSpell.TraySpell.Setup/*.user
TraySpell/src/NetSpell.TraySpell.Setup/bin
TraySpell/src/NetSpell.TraySpell.Setup/obj
TraySpell/src/NetSpell.TraySpell/*.user
TraySpell/src/NetSpell.TraySpell/bin
TraySpell/src/NetSpell.TraySpell/obj
StyleCop.Cache
Settings.StyleCop
NetSpell/src/NetSpell.VisualState.xml
NetSpell/src/TestResult.xml
NetSpell/src/NetSpell.DictionaryBuild.Tests/bin/
NetSpell/src/NetSpell.DictionaryBuild.Tests/obj/
